<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Escape The Abyss</title>
    <script>
      window.mazeConfig = {
          playerVisibilityRadius: 3,
          lanternVisibilityRadius: 5,
          // stepsPerMaze: 150,
          stepsPerMaze: 5,
          lanternsPerMaze: 2
      };
    </script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>