<!DOCTYPE html>
<html>
<head>
	<title>fsdfsd</title>
	<style>
		#path920
		{
			fill:  #FFFFFF;
			transition: fill 1s;
		}

		#path920.flash
		{
			fill:  #FF0000;	
		}

	</style>
</head>
<body style="background-color: #000000; color: #FFF">
	<!--
	<object type="image/svg+xml" data="stairs.svg"></object>
	-->

<svg
   width="113.50684mm"
   height="82.217476mm"
   viewBox="0 0 113.50684 82.217476"
   version="1.1"
   id="svg5"
   inkscape:version="1.1.1 (3bf5ae0, 2021-09-20)"
   sodipodi:docname="stairs.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview7"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:document-units="mm"
     showgrid="false"
     inkscape:zoom="0.39197531"
     inkscape:cx="19.133858"
     inkscape:cy="331.65354"
     inkscape:window-width="1366"
     inkscape:window-height="701"
     inkscape:window-x="0"
     inkscape:window-y="30"
     inkscape:window-maximized="1"
     inkscape:current-layer="layer1" />
  <defs
     id="defs2" />
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-1.0317414)">
    <path
       style="fill-opacity:0.99999994;stroke:none;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 0.13264399,83.116836 0.04524,-17.01264 32.65978301,-0.0271 -0.388282,-32.538024 32.562308,0.0361 0.08174,-32.4108435 48.280887,0.108032 -0.0279,16.4886235 -32.178757,-0.182459 0.17701,32.493232 -32.475995,-0.0064 -0.219937,33.019559 z"
       id="path920" />
  </g>
</svg>


</body>
</html>