div.maze
{
	--size: 26px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: calc((var(--size) + 2px) * 20 / -2);
	margin-top: calc((var(--size) + 2px) * 20 / -2);
}

div.row
{
	display: flex;
	flex-direction: row;
}
